# v0 sandbox internal files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.snowflake/
.v0-trash/
.vercel/
next.user-config.*

# dependencies
/node_modules
/.pnp
.pnp.js

# Environment variables
.env*

# testing
/coverage

# next.js
/.next/
/out/
.DS_Store
/lib/generated/prisma
